:root{
    /* Colores */
    --text-color: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
    --bg-color: hsl(0, 0%, 98%);
    --elements-color: hsl(0, 0%, 100%);

    /* Tipografía */
    --tipo-principal   : 'Nunito Sans', sans-serif;

  }

  /* Estilos para el modo oscuro */
[data-theme='dark'] {

  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
}